In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
import pickle

from sklearn import metrics
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.statespace.sarimax import SARIMAX
from pmdarima.model_selection import train_test_split as time_train_test_split
from xgboost import XGBRegressor
from xgboost import plot_importance
from datetime import timedelta


import xgboost as xgb
from sklearn.metrics import mean_squared_error
color_pal = sns.color_palette()
plt.style.use('fivethirtyeight')

In [4]:
df_month = pd.read_csv(
    './data/Road Crash Statistics in Quezon City (2018-2022) - Classification by Month per case basis .csv')
df_hour = pd.read_csv(
    './data/')

In [5]:
df_month.head()

   Year     Month  Damage to Property  Fatal  Non Fatal Injury  Grand Total
0  2018   January                2743      7               403         3153
1  2018  February                2621      7               423         3051
2  2018     March                2711     12               475         3198
3  2018     April                2573      7               417         2997
4  2018       May                2721     10               432         3163

In [6]:
df_hour.head()

   Year    Time Hour  Damage to Property  Fatal  Non Fatal Injury  Grand Total
0  2018  00:00-00:59                 599    3.0               162          764
1  2018  01:00-01:59                 551    8.0               132          691
2  2018  02:00-02:59                 469    7.0               130          606
3  2018  03:00-03:59                 449   12.0               128          589
4  2018  04:00-04:59                 565   12.0               140          717